body {
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}

h1 {
    color: #333;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
    background: #eee;
}

.first-box-container {
    width: 180px;
    height: 400px;
    padding: 20px;
    border-style: groove;
    border-color: grey;
    position: absolute;
}
  
.second-box-container {
    width: 180px;
    height: 400px;
    padding: 20px;
    border-style: groove;
    border-color: grey;
    position: absolute;
    left: 770px;
}
  
.third-box-container {
    width: 180px;
    height: 400px;
    padding: 20px;
    border-style: groove;
    border-color: grey;
    position: absolute;
    left: 1010px;
}